.post {
    background-color: #D1D1D1;
    max-width: 500px;
    border: 1px solid #1C0C5B;
    margin-bottom: 45px;
    border-radius: 10px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid #1C0C5B;
    border-bottom: 1px solid #1C0C5B;
    border-radius: 5px;
}
 
.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
}

.post__comments {
    padding: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid #FCD8D4;
}

.post__button {
    flex: 0;
    border: none;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid #FCD8D4;
}